:root {
	--gris-claro: #B8B8B8;
	--sombra: 0 0 333px 0 rgba(0, 0, 0, 1);
}

.respuestas{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.img{
    width: 85%;
    border-radius: 20px;
}

.link{
    width: 100%;
}

.img:hover{
    box-shadow: var(--sombra);
}

.material{
    width: 100%;
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
}

.btn{
padding: 10px 95px 10px 95px;
text-decoration: none;
color: rgb(255, 255, 255);
border-radius: 50px;
margin: 0 10px 0 10px;
}

.btn2, .btn1{
    background-color: rgb(234 50 47);
}

.btn3{
    background-color: rgb(239 118 2);;
}

@media screen and (max-width: 820px){
    .img{
        width: 100%;
        border-radius: 20px;
    }

    .respuestas{
        width: 80%;
        display: block;
    }

    .material{
        margin: 20px 0 0 0;
    }

    .btn{
        padding: 10px 15px 10px 15px;
        }

    .dtxt{
        display: none;
    }

    .fa-file-pdf, .fa-file-code{
        font-size: 23px;
    }
}